@media (min-width: 1200px) {
  .max-width-xl-372 {
    max-width: 372px;
  }
}
.same-line {
  white-space: nowrap;
}
.square-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Set the padding to create a square aspect ratio (1:1) */
}

.square-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This property ensures the image covers the container */
}
