//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Colors
$o-color-palettes: (
  (
    "o-color-1": #0054a6,
    "o-color-2": #79a0c6,
    "o-color-3": #f5f5f5,
    "o-color-4": #ffffff,
    "o-color-5": #111111,
    "footer": 4,
    "copyright": 4,
  ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-h1-font-size-multiplier: (36 / 14);
$o-theme-h2-font-size-multiplier: (30 / 14);
$o-theme-h3-font-size-multiplier: (24 / 14);
$o-theme-h4-font-size-multiplier: (18 / 14);
$o-theme-h5-font-size-multiplier: 1;
$o-theme-h6-font-size-multiplier: (12 / 14);

$o-theme-font-configs: (
  "Montserrat": (
    "family": (
      "Montserrat",
      cursive,
    ),
    "url": "Montserrat:300,300i,400,400i,700,700i",
  ),
);

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
  (
    "font": "Roboto",
    "headings-font": "Montserrat",
    "navbar-font": "Montserrat",
    "buttons-font": "Montserrat",
    "header-template": "hamburger",
    "hamburger-type": "off-canvas",
    "hamburger-position": "left",
    "footer-template": "links",
    "btn-border-radius": 0,
    "btn-border-radius-sm": 0,
    "btn-border-radius-lg": 0,
    "btn-font-size": 1.2rem,
    "btn-padding-y": 0.474rem,
    "btn-padding-x": 1.25rem,
    "btn-font-size-lg": 2rem,
    "btn-padding-y-lg": 0.4rem,
    "btn-padding-x-lg": 2rem,
  ),
);
