//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Colors
$o-color-palettes: (
  (
    "o-color-1": #cd171e,
    "o-color-2": #8b8b8b,
    "o-color-3": #f5f5f5,
    "o-color-4": #ffffff,
    "o-color-5": #111111,
    "footer": 2,
    "copyright": 2,
    "menu": 4,
    "o-cc1-bg": "o-color-5",
    "o-cc1-h2": "o-color-1",
    "o-cc1-h3": "o-color-1",
    "o-cc4-btn-primary": "transparent",
    "o-cc4-btn-primary-border": "o-color-4",
  ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-font-configs: (
  "Englebert": (
    "family": (
      "Englebert",
      cursive,
    ),
    "url": "Englebert:400",
  ),
  "Bebas Neue": (
    "family": (
      "Bebas Neue",
      sans-serif,
    ),
    "url": "Bebas+Neue:400",
  ),
  "Play": (
    "family": (
      "Play",
      sans-serif,
    ),
    "url": "Play:400",
  ),
);

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
  (
    //"header-font-size": 1.5rem,
    "font": "Play",
    "headings-font": "Play",
    "navbar-font": "Play",
    "buttons-font": "Play",
    "header-template": "hamburger",
    "hamburger-type": "off-canvas",
    "hamburger-position": "left",
    "footer-template": "links",
    "btn-border-radius": 100px,
    "input-border-radius": 100px,
  ),
);
