h2,
h3 {
  font-family: "Englebert", cursive;
  font-weight: 600;
  text-transform: uppercase;
}
.rounded {
  border-radius: 2rem !important;
}
header .btn {
  font-size: 1rem;
}

.bg-secondary .form-check * {
  color: white;
}

.bg-secondary .text-danger {
  color: white !important;
}

.bg-secondary .bootstrap-datetimepicker-widget {
  color: #495057;
}

button.amount_button:focus {
  background-color: $primary;
  color: white;
}
