.event_details .sports_icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.distance_km {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
}
.sports_icons {
  width: 100%;
}
.muskathlon_sport_icon {
  background-color: rgba(255, 255, 255, 0.7);
  height: 40px;
  width: 40px;
  margin-top: -8px;
  padding-top: 3px;
}
.sport_icon {
  background-color: rgba(255, 255, 255, 0.7);
  height: 40px;
  width: 40px;
  border-radius: 25px;
}
.sport_icon img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 5px;
  left: 5px;
}

.sport_icon.walk {
  height: 38px;
}
