//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Colors
$o-color-palettes: (
  (
    "o-color-1": #005eb8,
    "o-color-2": #707070,
    "o-color-3": #f9f9f9,
    "o-color-4": #ffffff,
    "o-color-5": #111111,
    "footer": 4,
    "copyright": 4,
  ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-font-configs: (
  "Montserrat": (
    "family": (
      "Montserrat",
      cursive,
    ),
    "url": "Montserrat:300,300i,400,400i,700,700i",
  ),
);

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
  (
    "font": "Roboto",
    "headings-font": "Montserrat",
    "navbar-font": "Montserrat",
    "buttons-font": "Montserrat",
    "header-template": "hamburger",
    "hamburger-type": "off-canvas",
    "hamburger-position": "left",
    "footer-template": "links",
    "btn-border-radius": 0,
    "btn-border-radius-sm": 0,
    "btn-border-radius-lg": 0,
  ),
);
